@model Hotel_IPT_App.Models.Fotos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fotos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotografia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quarto.IdQuarto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFoto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
